@import "tailwindcss";

@theme {
    --color-primary: #0F172A;
    --color-secondary: #334155;
    --color-accent: #38BDF8;
    --color-surface: #1E293B;
    --font-sans: 'Inter', sans-serif;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }
}